.form__component {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 45px;
}

/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 35px;
  &__arrow {
    position: absolute;
    top: 10px;
    right: 7px;
  }
}

.input__box {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 335px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #dae1f0;
}
.input__box:focus {
  outline: none;
}

/* LABEL ======================================= */
.group label {
  color: #acb1bd;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
.input__box:focus ~ label,
.input__box:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: $select-input-color;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 335px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: $select-input-color;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
.input__box:focus ~ .bar:before,
.input__box:focus ~ .bar:after {
  width: 50%;
}

.card__flag {
  width: 335px;
  height: 28px;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
  font-size: 16px;
  line-height: 22px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #acb1bd;
  position: relative;
  option {
    background: transparent;
    color: black;
  }
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
.input__box:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
