.box__user {
  &--wrapper {
    padding: 16px 21px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(190.87deg, #3c3e64 0.83%, #1d1e2a 100%);
    &:not(:first-of-type) {
      border-top: 2px solid white;
    }

    &-client {
      display: flex;
      &.user-page {
        justify-content: center;
        padding-top: 30px;
      }
    }
    &-image {
      width: 52px;
      border-radius: 100%;
      border: 2px solid #ffffff;
      &.inside {
        width: 80px;
      }
    }
    &-description {
      display: flex;
      flex-direction: column;
      align-self: center;
      padding-left: 8px;
      font-size: 16px;
      line-height: 18px;
      color: white;
      font-weight: bold;

      &.user-page {
        font-size: 24px;
        line-height: 28px;
        color: white;
      }
    }
    &-username {
      font-size: 12px;
      line-height: 14px;
      font-weight: initial;
      &.user-page {
        font-size: 14px;
        line-height: 16px;
      }
      &.label {
        padding-left: 12px;
      }
    }
  }
  &-pay-wrapper {
    display: flex;
    align-items: center;
    &--payme {
      display: none;
      color: white;
      text-transform: uppercase;
      padding-left: 12px;
    }
  }
  &--input {
    display: flex;
    justify-content: center;
    width: 256px;
    align-self: center;
    margin-top: 40px;
    color: white;
    padding-bottom: 10px;
    border-bottom: 2px solid #474971;
    &::before {
      content: "R$";
      font-size: 48px;
    }
    input {
      width: 118px;
      font-size: 48px;
      border: none;
      text-align: center;
      color: white;
      background: transparent;
    }
  }
  &--creditcards {
    display: flex;
    margin-top: auto;
    width: 85%;
    align-self: center;
    border-top: 2px #d8d8d8 solid;
    justify-content: center;
    flex-direction: column;
    .user-choice {
      &.selected {
        display: flex;
        padding: 0 20px;
        padding-top: 20px;
        font-size: 14px;
        color: #ef5778;
        align-self: center;
        padding-bottom: 30px;
      }
      &.alert {
        display: flex;
        padding: 0 20px;
        padding-top: 20px;
        font-size: 14px;
        color: #ef5778;
        align-self: center;
        padding-bottom: 30px;
        a {
          color: #ef5778;
          font-weight: bold;
        }
        p {
          padding-left: 12px;
        }
        img {
          width: 20px;
        }
      }
    }
  }
}

button {
  &.main--pay {
    width: 100%;
    color: #474971;
    padding: 16px;
    border-radius: 24px;
    background: linear-gradient(180deg, #b4f4e5 0%, #7de6c6 100%);
    text-transform: uppercase;
    font-weight: bold;
    border: none;
  }
}
