//window and page css

.window-user {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  display: flex;
  width: 0;
  &.open {
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(239.44deg, #3c3e64 0.83%, #1d1e2a 100%);

    overflow-x: hidden;
    transition: all 500ms;
  }
  &.close {
    display: none;
  }
}

.page-user {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: stretch;
  flex-direction: column;
  &__information {
    display: flex;
    height: 100%;
    flex-direction: column;
  }
  &--top {
    display: none;
  }
  &__back-button {
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin: 24px 0 0 16px;
  }
}
